---
import HeaderImpressum from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
  <HeaderImpressum />

  <main class="p-5 text-center">
    <div>Impressum</div>
    <br />
    <p>
      Galusek Kälte- und Klimatechnik<br />
      Im Böttlin 5<br />
      88699 Frickingen<br />
      Geschäftsführer: Damian Galusek
    </p>
  </main>
</Layout>
