---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import ContactCard from "../components/ContactCard.astro";
import EmergecyCard from "../components/EmergecyCard.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Galusek Kälte- und Klimatechnik">
  <main>
    <div class="flex justify-between">
      <img src="logo.png" class="h-20" />

      <div class="flex justify-center">
        <div
          class="m-3 p-3 rounded-md bg-gradient-to-r from-blue-900 to-blue-500 cursor-pointer"
        >
          Kontakt
        </div>
        <div
          class="m-3 p-3 rounded-md bg-gradient-to-r from-red-900 to-red-500 cursor-pointer"
        >
          Notruf
        </div>
      </div>
    </div>
  </main>

  <div class="flex justify-center p-10">
    <Carousel />
  </div>

  <div
    class="flex justify-center rounded-md bg-gradient-to-r from-blue-900 to-blue-500 p-5 m-5 text-white text-2xl"
  >
    Ihr starker Partner, wenn es um Kälte- und Klimatechnik geht.
  </div>

  <div class="flex flex-wrap justify-center">
    <Card
      title="Klimaanlagen"
      body="Wir verbauen Klimaanlagen aller Hersteller"
    />
    <Card
      title="Wärmepumpen"
      body="Wir verbauen Wärmepumpen aller hersteller"
    />
    <Card title="Wartung und Service" body="Service, Wartung und Notfälle" />
  </div>

  <div class="flex justify-center">
    <Badge src="Kkf_logo.svg" />
  </div>

  <div class="flex flex-wrap justify-center">
    <ContactCard
      title="Kontakt"
      name="Galusek Kälte und Klimatechnik"
      street="Im Böttlin 5"
      location="88699 Frickingen"
      tel1="Tel. 07554 / 98 69 35"
      fax="Fax 07554 / 98 69 36"
      tel2="Mobil 0179 / 48 32 33 2"
      email="Email galusek@.kaelte@gmail.com"
    />
    <EmergecyCard title="Notruf" text="Mobil 0179 / 48 32 33 2" />
  </div>

  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    max-width: 80rem;
  }
</style>
