---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import ContactCard from "../components/ContactCard.astro";
import EmergecyCard from "../components/EmergecyCard.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import Header from "../components/Header.astro";
---

<Layout title="Galusek Kälte- und Klimatechnik">
  <Header />

  <div class="flex justify-center p-10">
    <Carousel />
  </div>

  <div class="flex justify-center text-white text-2xl font-bold">
    <p
      class="w-full rounded-md bg-blue-500 shadow p-5 m-5 ci text-center"
      style="max-width: 1200px;"
    >
      Ihr starker Partner, wenn es um Kälte- und Klimatechnik geht.
    </p>
  </div>

  <div class="flex flex-wrap justify-center">
    <Card
      title="Klimaanlagen"
      body="Von Klimaanlagen bis Kühlhäuser. Wir verbauen Geräte aller Hersteller."
      src="klima.jpg"
    />
    <Card
      title="Wärmepumpen"
      body="Wärmepumpen von klein bis groß, wir beraten Sie gerne."
      src="pump.jpg"
    />
    <Card
      title="Wartung und Service"
      body="Ob Service, Wartung oder Notfalleinsatz, wir sind für Sie da."
      src="service.jpg"
    />
  </div>

  <div class="flex justify-center">
    <Badge src="Kkf_logo.svg" />
  </div>

  <div class="flex flex-wrap justify-center">
    <div id="contact">
      <ContactCard
        title="Kontakt"
        name="Galusek Kälte- und Klimatechnik"
        street="Im Böttlin 5"
        location="88699 Frickingen"
        tel1="Tel. 07554 / 98 69 35"
        fax="Fax 07554 / 98 69 36"
        tel2="Mobil 0179 / 48 32 33 2"
        email="Email galusek@.kaelte@gmail.com"
      />
    </div>
    <div id="emergency">
      <EmergecyCard title="Notruf" text="Mobil 0179 / 48 32 33 2" />
    </div>
  </div>

  <Footer />
</Layout>

<style>
  .shadow {
    filter: drop-shadow(-3px 2px 6px #99979e);
  }
  .ci {
    background-color: #2a186e;
  }
</style>
