---
interface Props {
  title: string;
  body: string;
  src: string;
}

const { title, body, src } = Astro.props;
---

<div
  class="m-5 p-5 rounded-md bg-white hover:scale-105 drop-shadow-xl text-blue-600 c"
>
  <div class="mb-3 text-2xl font-bold">
    {title}
  </div>
  <div class="text-black">
    <p>
      {body}
    </p>
  </div>
  <img src={src} class="p-3" />
</div>

<style>
  .c {
    width: 20rem;

    filter: drop-shadow(-3px 2px 6px #99979e);
  }
</style>
