---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div
  class="m-5 p-5 rounded-md bg-gradient-to-r from-blue-900 to-blue-500 hover:scale-105 c"
>
  <div class="mb-3">
    {title}
  </div>
  <div>
    <p>
      {body}
    </p>
  </div>
</div>

<style>
  .c {
    width: 20rem;
    height: 12rem;
    color: white;
  }
</style>
