<!-- Container -->
<div class="max-w-screen-xl mx-auto px-4">
  <!-- Grid wrapper -->
  <div class="-mx-4 flex flex-wrap justify-center">
    <!-- Grid column -->
    <div class="w-full flex flex-col p-4 sm:w-1/2 lg:w-1/3">
      <!-- Column contents -->
      <div
        class="flex-1 px-5 py-5 text-white bg-white rounded-lg shadow-lg bg-gradient-to-r from-blue-800 to-blue-500 shadow"
      >
        <div id="contact" class="basis-1/3">
          <div class="rounded-md">
            <div class="mb-3 text-2xl font-bold">Kontakt</div>
            <p>
              Galusek Kälte- und Klimatechnik<br />Im Böttlin 5<br />88699
              Frickingen<br /><br />
              Tel. 07554 / 98 69 35<br />Fax 07554 / 98 69 36<br />Mobil 0179 /
              48 32 33 2<br />Email galusek@.kaelte@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Grid column -->
    <div class="w-full flex flex-col p-4 sm:w-1/2 lg:w-1/3">
      <!-- Column contents -->
      <div
        class="flex-1 px-5 py-5 text-white bg-white rounded-lg shadow-lg bg-gradient-to-r from-red-800 to-red-700 shadow"
      >
        <div id="emergency" class="basis-1/3">
          <div class="rounded-md">
            <div class="mb-3 text-2xl font-bold">Notruf</div>
            <div class="text-center text-3xl pt-10 pb-10">
              0179 / 48 32 33 2
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .shadow {
    filter: drop-shadow(-3px 2px 6px #99979e);
  }
</style>
