<div class="px-4 py-12 space-y-8 bg-white shadow-sm footer">
  <nav class="flex flex-wrap justify-center">
    <div class="px-5 py-2">
      <a
        href={import.meta.env.BASE_URL + "Impressum"}
        class="text-blue-600 hover:text-blue-400"
      >
        Impressum
      </a>
    </div>
  </nav>
  <p class="mt-8 text-center text-gray-400">
    © 2024 Galusek Kälte- und Klimatechnik
  </p>
</div>

<style>
  .shadow {
    filter: drop-shadow(-3px 2px 6px #99979e);
  }

  .footer {
    bottom: 0;
    width: 100%;
  }
</style>
