<!-- component --><!-- Foooter -->
<section class="bg-blue-900">
  <div class="px-4 py-12 space-y-8">
    <nav class="flex flex-wrap justify-center">
      <div class="px-5 py-2">
        <a href="Impressum" class="text-white hover:text-gray-300">
          Impressum
        </a>
      </div>
    </nav>
    <p class="mt-8 text-center text-white">
      © 2024 Galusek Kälte- und Klimatechnik
    </p>
  </div>
</section>
