<nav class="flex justify-between bg-white shadow">
  <img src="public/logo.svg" class="h-20" />

  <div class="flex justify-center">
    <div class="m-3 p-3 rounded-md text-blue-600 cursor-pointer font-bold">
      Home
    </div>
  </div>
</nav>

<style>
  .shadow {
    filter: drop-shadow(-3px 2px 6px #99979e);
  }
  .bg {
    background-color: #7467a2;
  }
</style>
